.btn-primary{
  background-color: $brand-yellow;
  color: #855B35;
  transition:all .3s;
  &:hover{
    background-color: #ffdc5c;
  }
}
.btn-secundary{
  background-color: transparent;
  border: solid 1px #00a5f0;
  color: $brand-light-blue;
  transition: all .3s;
  &:hover{
    background-color: $brand-light-blue;
    color:#fff;
  }
  &.white{
    border: solid 1px white;
    color: white;
    &:hover{
      background-color: white;
      color: #01c7df;
    }
  }
}
.btn-primary,.btn-secundary{
  display: inline-block;
  line-height: 4.8rem;
  padding: 0 2.6rem;
  border-radius: 122px;
  font-family: 'Poppins';
  font-style: 600;
  font-size: 1.6rem;
}
body{
  background-color: $gray-500;
}